name: open_with_app
description: "A plugin for opening specific file types with your app"
version: 0.0.1
homepage: https://github.com/WieFel/open_with_app

environment:
  sdk: ^3.10.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.wiefel.open_with_app
        pluginClass: OpenWithAppPlugin
      ios:
        pluginClass: OpenWithAppPlugin